.DS_Store
/node_modules
*~
*.pyc
server/.env
/server/data/scrape-test
/server/data/scrape-test
server/data/Dars/a.json
server/data/Dars/courses_simple.json
server/data/Dars/extracted_courses.csv
/server/uploads
server/data/Dars/extracted_courses.csv
server/data/Dars/a.json
server/data/Dars/courses_simple.json
server/uploads/myaudit.html
courses_simple.json
*.json
server/data/Kyle/selenium_response_content.html
client/.env
